@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme {
  --color-purple: #563f7a;
  --font-sans: var(--font-poppins);
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  /* --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Poppins, sans-serif;
  color: #201c23;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding-left: 20px;
  padding-right: 20px; */
  @apply px-5 sm:px-8 md:px-12 lg:px-28;
}

button {
  cursor: pointer; /* atau ada reset CSS yang menimpa */
}

.base-section {
  @apply min-h-[400px] py-20 lg:py-26;
}

/* p {
  font-size: 16px;
  line-height: 150%;
} */

/* HOME */
#home .tombol-kataba-ai {
  @apply bg-[#9445cc] hover:bg-purple-900 text-white px-6 py-3 rounded-xl transition text-sm;
}

#home .batu {
  @apply py-10;
}

#home .batu img {
  @apply h-[120px] sm:h-[200px] md:h-[240px] mx-auto;
}

#home .text-karakter {
  @apply text-[#8562a8] text-[34px] lg:text-[42px] leading-[120%] lg:leading-13 font-bold pb-4;
}

.swiper-button-next {
  @apply right-8; /* 2rem */
}

.swiper-button-prev {
  @apply left-8;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  @apply text-white text-3xl font-bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}

.swiper-pagination-bullet-active {
  @apply !bg-white opacity-100;
}

.text-pink {
  @apply text-[#f77];
}

.text-biru {
  @apply text-[#6296b2];
}

.text-hijau {
  @apply text-[#9ec288];
}

.tombol-pink {
  @apply bg-[#f5818f] hover:bg-[#f5818f]/80 disabled:bg-gray-300 disabled:cursor-not-allowed  text-white px-8 py-3 rounded-xl transition text-sm;
}

.tombol-hijau {
  @apply bg-[#0a7473] hover:bg-[#0a7473]/90 text-white px-8 py-3 rounded-xl transition text-sm;
}

.tombol-pink-kataba-ai {
  @apply bg-pink-400 hover:bg-pink-300 text-white px-8 py-3 rounded-xl transition text-sm;
}

.tombol-biru {
  @apply bg-blue-500 hover:bg-blue-400 text-white px-8 py-3 rounded-xl transition text-sm;
}

.tombol-biru-tua {
  @apply bg-[#0055A0] hover:bg-[#0055A0]/90 text-white px-8 py-3 rounded-xl transition text-sm;
}

.tombol-biru-muda {
  @apply bg-[#4BAEE6] hover:bg-[#4BAEE6]/90 text-white px-8 py-3 rounded-xl transition text-sm;
}

.tombol-segera {
  @apply bg-[#d1d1d1] hover:bg-[#d1d1d1]/80 text-white px-8 py-3 rounded-xl transition text-sm;
}

.tombol-ungu {
  @apply bg-[#8562a8] hover:bg-[#8562a8]/80 text-white px-5 py-1 rounded-xl transition text-sm font-normal;
}

.text-ungu {
  @apply text-[#8562a8];
}

/* Tombol panah umum */
.swiper-button-prev,
.swiper-button-next {
  @apply w-8 h-8 rounded-full bg-white/80 flex items-center justify-center shadow-md top-[95%] md:top-[50%] z-9999;
}

/* .swiper-button-prev {
  @apply left-[30%];
}

.swiper-button-next {
  @apply right-[40%];
} */

/* Ikon panah bawaan Swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
  /* content: ""; */
  @apply text-[14px] font-bold text-[#DEAE53]; /* krem */
}

/* Kalau mau beda warna pas hover */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  @apply bg-[#fef8f3]; /* putih krem */
}

.swiper-pagination {
  bottom: 20px !important;
}

/* CSS untuk custom checkbox */
input[type="checkbox"].custom-checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border: 2px solid #cbaf78;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

input[type="checkbox"].custom-checkbox:checked {
  background-color: #cbaf78;
  position: relative;
}

input[type="checkbox"].custom-checkbox:checked::after {
  content: "✓";
  position: absolute;
  color: white;
  font-size: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-header {
  @apply flex flex-col lg:flex-row gap-4 lg:gap-8 px-12 py-6 bg-[#fbf6f2] bg-[url(/images/shapes/logo-tm-cream-cropped-30.avif)] bg-cover lg:bg-contain bg-no-repeat bg-right rounded-lg items-center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease forwards;
}
.animate-fadeOut {
  animation: fadeOut 0.3s ease forwards;
}
.animate-slideDown {
  animation: slideDown 0.3s ease forwards;
}
.animate-slideUp {
  animation: slideUp 0.3s ease forwards;
}
